@font-face {
    font-family: 'Bahnschrift';
    src: local('Bahnschrift');
}

@font-face {
    font-family: 'Bahnschrift Light';
    src: local('Bahnschrift Light');
}

@font-face {
    font-family: 'Bahnschrift SemiBold';
    src: local('Bahnschrift SemiBold');
}

header {
    background-color: #B22234;
    overflow: hidden;
    padding: 5px 0;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.brand a {
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI Variable Static Display', sans-serif;
    padding: 5px 15px;
    font-size: 1.5em; /* Điều chỉnh kích thước chữ nếu cần */
}

.navbar {
    background-color: transparent; /* Giữ nguyên màu nền của header */
    display: flex;
    justify-content: flex-end; /* Đẩy các link của navbar sang phải */
    align-items: center;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    font-family: 'Segoe UI Variable Static Display', sans-serif;
}

.navbar a:hover {
    color: white;
    font-family: 'Segoe UI Variable Static Display', sans-serif;
    text-decoration: underline;
}

.navbar a:visited {
    color: white;
}

.navbar a:active {
    color: yellow; 
}

h1 {
    font-family: 'Bahnschrift', sans-serif;
    background-color: #0A3161; /* Màu đen cho nền */
    color: white; /* Màu trắng cho chữ */
    padding: 20px;
    border-radius: 5px; /* Optional: làm tròn góc của div */
    width: 100%; /* Đảm bảo h1 kéo dài toàn bộ chiều rộng */
    box-sizing: border-box; /* Bao gồm padding và border vào chiều rộng */
}

h2, h3, h4, h5, h6 {
    font-family: 'Bahnschrift SemiBold', sans-serif;
}

p {
    font-family: 'Bahnschrift Light', sans-serif;
}

div {
    font-family: 'Bahnschrift Light', sans-serif;
    width: 100%; /* Đảm bảo div kéo dài toàn bộ chiều rộng */ 
    padding: 20px;
    color: black; /* Màu chữ để có sự tương phản tốt với nền */
    border-radius: 5px; /* Optional: làm tròn góc của div */
    box-sizing: border-box; /* Bao gồm padding và border vào chiều rộng */
}

img {
    margin: 0 auto; /* Căn giữa hình ảnh */
    border-radius: 5px; /* Optional: làm tròn góc của div */
    max-width: 100%; /* Đảm bảo hình ảnh không vượt quá chiều rộng của phần tử chứa */
}

footer {
    text-align: center;
    font-family: 'Bahnschrift Light', sans-serif;
}

#right {
    width: 49%;
    float: right;
    background-color: #fa6969;
}

#left{
    width: 49%;
    float: left;
    background-color: #fa6969;
}

.clear { 
    clear: both 
}

.container {
   width: 100%;
   border: 1px solid #333;
   padding: 20px;
   border-radius: 5px;
}
