@font-face {
    font-family: 'Bahnschrift';
    src: local('Bahnschrift');
}

@font-face {
    font-family: 'Bahnschrift Light';
    src: local('Bahnschrift Light');
}

@font-face {
    font-family: 'Bahnschrift SemiBold';
    src: local('Bahnschrift SemiBold');
}

.navbar {
    background-color: #B22234; /* Màu đỏ của lá cờ Hoa Kỳ */
    overflow: hidden;
    padding: 5px 0;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: 'Bahnschrift SemiBold', sans-serif;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

h1 {
    font-family: 'Bahnschrift', sans-serif;
    text-align: center;
    background-color: black; /* Màu đen cho nền */
    color: white; /* Màu trắng cho chữ */
    padding: 10px;
}

h2, h3, h4, h5, h6 {
    font-family: 'Bahnschrift SemiBold', sans-serif;
}

div {
    font-family: 'Bahnschrift Light', sans-serif;
}
