@font-face {
    font-family: 'Segoe UI Variable Static Display';
    src: url("http://justlimorina.github.io/font/Segoe-UI-Variable-Static-Display.ttf");
}

header {
    background-color: #B22234;
    overflow: hidden;
    padding: 5px 0;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.brand a {
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI Variable Static Display', sans-serif;
    padding: 5px 15px;
    font-size: 1.5em;
}

.navbar {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    font-family: 'Segoe UI Variable Static Display', sans-serif;
}

.navbar a:hover {
    color: white;
    font-family: 'Segoe UI Variable Static Display', sans-serif;
    text-decoration: underline;
}

.navbar a:visited {
    color: white;
}

.navbar a:active {
    color: yellow; 
}

h1 {
    font-family: 'Segoe UI Variable Static Display', sans-serif;
    background-color: #0A3161; 
    color: white; 
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box; 
    text-align: center;
    font-weight: normal;
}

h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI Variable Static Display', sans-serif;
}

p {
    font-family: 'Segoe UI Variable Static Display', sans-serif;
}

div {
    font-family: 'Segoe UI Variable Static Display', sans-serif;
    width: 100%;
    padding: 20px;
    color: black;
    border-radius: 5px;
    box-sizing: border-box;
}

img {
    margin: 0 auto;
    border-radius: 5px;
    max-width: 100%;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    font-family: 'Segoe UI Variable Static Display', sans-serif;
    font-size: 13px;
}

#right {
    width: 49.5%;
    float: right;
    min-height: 200px;
    background-color: #fa6969;
    margin-bottom: 20px;
}

#left {
    width: 49.5%;
    float: left;
    min-height: 200px;
    background-color: #fa6969;
    margin-bottom: 20px;
}

.clear { 
    clear: both 
}

.container {
    width: 100%;
    border: 1px solid #333;
    padding: 20px;
    border-radius: 5px;
}
@media screen and (max-width: 768px) {
    #box {
        width: 100%; 
        float: none; 
        margin-bottom: 20px;
    }
}
